@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul,
ol{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #232323;
}

.input-container{
  width: 30rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #424242;
  border-radius: .7rem;
}

.password-input{
  background: transparent;
  outline: none;
  width: 90%;
  height: 100%;
  border: none;
  color: #999;
  font-size: 1.2rem;
  padding: 0 .5rem;
  border-bottom-left-radius: .7rem;
  border-top-left-radius: .7rem;
}

.chech-btn{
  width: 10%;
  height: 100%;
  border: none;
  font-size: 1rem;
  background: #424242;
  color: #999;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom-right-radius: .7rem;
  border-top-right-radius: .7rem;
  transition: all .3s ease-in-out;
}

.chech-btn:hover{
  background: #555;
  color: #fff;
}

.result{
  color: #999;
  font-size: 1rem;
  text-transform: uppercase;
}